.shopcategory-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 صور في الصف على الشاشات الكبيرة */
    gap: 40px;
    margin-top: 100px;
    margin-left: 200px;
}

/* حجم الصورة الثابت */
.shopcategory-products img {
    width: 100%; /* تأخذ الصورة عرض الخلية بالكامل */
    height: auto;
    border-radius: 22px;
    
    display: block;
}

@media (max-width: 800px) {
    body{
        overflow-x: hidden;
    }
    .shopcategory-products {
        grid-template-columns: repeat(2, 1fr); /* صورتين في الصف على شاشات الموبايل */
        margin-left: 10px; /* تعديل الهامش ليتناسب مع الشاشات الصغيرة */
        gap: 20px; /* تقليل الفجوة بين الصور */
     }
}

select {
    border: none;
    outline: none;
    border-bottom: solid 1px rgb(157, 117, 117);
    border-radius: 2px;
}